/* Styles for the fingerprint icon */
.fingerprint-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px;
  }
  
  /* Styles for the face recognition icon */
  .face-recognition-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px;
  }
  
  /* Additional styles to match the existing login page */
  .container-login100 {
    position: relative;
  }
  
  .container-login100:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/history/history-img.jpg');
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }