
.big-title{
    font-size: 2.5em;
    color: #230871;
    margin-bottom:0.5em;
}

.bold{

    font-weight: bold;
}

.bolder{
    font-weight: 1000;
}


.extra-big-title{
    font-size: 4em;
    color: #230871;
    margin-bottom:0.5em;
}

.med-title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #230871;;
}

.small-text{
    color: black;
}

a.med-title:hover{
    color: #47415c;
}

.small-title{
    letter-spacing: 6px;
    font-size: 1em;
}

.change-color{
    transition: color 0.3s ease;
    cursor: default;
}

.change-color:hover{
    color: lightgreen;
}

.benefit-title{
    font-weight: bold;
    font-size: 24px; /* Adjust the size as needed */
    margin-bottom: 10px;
}

.benefit-desc{

}

.calign{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calign-hv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ralign{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: lightblue;
}

.green{
    background-color: lightgreen;
}

.red{
    background-color: lightcoral;
}

/* .pink{
    background-color: l;
} */

.beige{
    background-color: bisque;
}

.border-inputs{
    border: 2px solid; 
    border-color: rgba(162, 162, 162, 0.4); 
    background-color: white; 
    border-radius: 4px;
}

